# ===================================================================
# Python Virtual Environment
# ===================================================================
/venv/


# ===================================================================
# Python Cache and Bytecode Files
# ===================================================================
__pycache__/
*.pyc
*.pyo
*.pyd


# ===================================================================
# IDE and Editor Specific Files
# ===================================================================
.vscode/
.idea/


# ===================================================================
# Generated Output Files
# ===================================================================
*.docx


# ===================================================================
# Operating System Specific Files
# ===================================================================
.DS_Store
Thumbs.db


# ===================================================================
# PyInstaller Files - [ *** الإضافة الجديدة هنا *** ]
# تجاهل الملفات والمجلدات الناتجة عن عملية التجميع.
# ===================================================================
/build/
/dist/
*.spec